<!DOCTYPE html>
<html lang="en">

    <head>
        <% include head %>
    </head>

    <body>
        <% include header %>

        <div class="container">
            <div class="main-content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <form action="/Cart/Checkout" method="post">
                                <button type="submit" class="btn btn-primary">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>

                <p></p>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive table-condensed table-bordered table-hover">
                            <tr>
                                <th class="col-sm-1">Sr.</th>
                                <th class="col-sm-3">Name</th>
                                <th class="col-sm-1">To Pay</th>
                                <th class="col-sm-1">Sale Price</th>
                                <th class="col-sm-1">Discount</th>
                                <th class="col-sm-1">Size</th>
                                <th class="col-sm-1">Color</th>
                                <th class="col-sm-1"></th>
                            </tr>

                            <% if (data != 'undefined') { %>
                                <% var i = 1 %>
                                <% data.forEach(function(row) { %>
                                    <tr>
                                        <td><%= i++ %></td>
                                        <td><%= row.ProductName %></td>
                                        <td><%= row.ChargedAmount %></td>
                                        <td><%= row.SalePrice %></td>
                                        <td>
                                            <% if (row.DiscountAmount > 0) { %>
                                                <%= row.DiscountAmount %>
                                            <% } else { %>
                                                0
                                            <% } %>
                                        </td>
                                        <td> <%= row.SizeName %> </td>
                                        <td> <%= row.ColorName %> </td>
                                        <td>
                                            <form action="/Cart/Delete?id=<%= row.ProductID %>&amp;rev=<%= row._rev %>" method="post">
                                                <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } %>

                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <form action="/Cart/Checkout" method="post">
                                <button type="submit" class="btn btn-primary">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <% include footer %>
    </body>

</html>
