<!DOCTYPE html>
<html lang="en">

    <head>
        <% include head %>
    </head>

    <body>
        <% include header %>

        <div class="container">
            <div class="main-content">

                <div class="form form-horizontal">
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" id="_id" name="_id" value="<%= data._id %>">
                        <input type="hidden" id="_ver" name="_ver" value="<%= data._ver %>">

                        <div class="form-group">
                            <label for="ProductName" class="col-md-1">Name</label>
                            <div class="col-md-5">
                                <input type="text" id="ProductName" name="ProductName" class="form-control"
                                        required="required" data-required-msg="Please provide product name" value="<%= data.ProductName %>">
                            </div>

                            <label for="SalePrice" class="col-md-1">Sale Price</label>
                            <div class="col-md-2">
                                <input type="text" id="SalePrice" name="SalePrice" class="form-control" value="<%= data.SalePrice %>">
                            </div>

                            <label for="DiscountAmount" class="col-md-1">Discount $</label>
                            <div class="col-md-2">
                                <% if (typeof data.DiscountAmount !== 'undefined') { %>
                                    <input type="text" id="DiscountAmount" name="DiscountAmount" class="form-control" value="<%= data.DiscountAmount %>">
                                <% } else { %>
                                    <input type="text" id="DiscountAmount" name="DiscountAmount" class="form-control" value="">
                                <% } %>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="Description" class="col-md-1">Description</label>
                            <div class="col-md-11">
                                <% if (typeof data.Description !== 'undefined') { %>
                                <textarea id="Description" name="Description" class="form-control" rows="5"><%= data.Description %></textarea>
                                <% } else { %>
                                <textarea id="Description" name="Description" class="form-control" rows="5"></textarea>
                                <% } %>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="CategoryID" class="col-md-2">Category</label>
                                    <div class="col-md-10">
                                        <select id="CategoryID" name="CategoryID" class="form-control dropdown">
                                                <option value=""></option>
                                                <% if (categories !== 'undefined') { categories.forEach(function(row) { %>
                                                    <option value="<%= row._id %>"
                                                            <% if(data.CategoryID && data.CategoryID == row._id){ %>
                                                                <%= "selected" %>
                                                            <% } %>>
                                                        <%= row.CategoryName %>
                                                    </option>
                                                <% })} %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Picture" class="col-md-2">Picture</label>
                                    <div class="col-md-10">
                                        <input type="file" id="Picture" name="Picture" accept="image/*" value="" class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            <label>
                                                <% if (data.IsNewArrival) { %>
                                                    <input type="checkbox" id="IsNewArrival" name="IsNewArrival" value="true" checked="checked"/>
                                                <% } else { %>
                                                    <input type="checkbox" id="IsNewArrival" name="IsNewArrival" value="true"/>
                                                <% } %>
                                                <input type="checkbox" id="IsNewArrival" name="IsNewArrival" hidden="hidden" value="false"/>New Arrival
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div style="height:100px; width:100px; text-align:center" class="img img-thumbnail">
                                        <img src="<%= data.PicturePath %>" style="display: inline-block; vertical-align: middle; max-height:100%; max-width:100%"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Sizes" class="col-md-1">Size</label>
                            <div class="col-md-11">
                                <select id="Sizes" name="Sizes" class="select2" multiple="multiple" style="width:100%;">
                                    <% if (sizes !== 'undefined') { sizes.forEach(function(row) { %>
                                        <option value="<%= row._id %>">
                                            <%= row.SizeName %>
                                        </option>
                                    <% })} %>
                                </select>
                                <script type="text/javascript">
                                    $("#Sizes").select2();
                                    $("#Sizes").val(<%- JSON.stringify(data.Sizes) %>).trigger("change");
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Colors" class="col-md-1">Color</label>
                            <div class="col-md-11">
                                <select id="Colors" name="Colors" class="select2" multiple="multiple" style="width:100%;">
                                    <% if (colors !== 'undefined') { colors.forEach(function(row) { %>
                                    <option value="<%= row._id %>">
                                        <%= row.ColorName %>
                                    </option>
                                    <% })} %>
                                </select>
                                <script type="text/javascript">
                                    $("#Colors").select2();
                                    $("#Colors").val(<%- JSON.stringify(data.Colors) %>).trigger("change");
                                </script>
                            </div>
                        </div>

                        <div class="actions">
                            <div class="col-md-1"></div>
                            <div class="col-md-1">
                                <input type="submit" value="Save" class="btn btn-primary"/>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>

        <% include footer %>
    </body>

</html>
