extends layout
block content
    .row
        each item, i in data
            .col-sm-2
                a(href='/Product/Purchase?id=#{item.doc._id}')
                    img(src='#{item.doc.PicturePath}', style="height:150px" class='img img-thumbnail')
                br
                a(href='/Product/Purchase?id=#{item.doc._id}')
                    span #{item.doc.ProductName}
                br
                span(class='small') $#{item.doc.SalePrice}
                p
                    br